In [ ]:
print("hello world ")

In [2]:
import numpy as np

In [14]:
from math import *
print(sqrt(25))

5.0

In [19]:
from package.multipys import multiply
result = multiply(5, 10)
print(result)

50

In [6]:
from package.maths import *
result = addition(5, 10)
x = div2(4,2)

print(result)
print(x)

15
2.0

In [7]:
import os
print(os.getcwd())  # Print the current working directory

/Users/cpasunuti/Desktop/my mac/Coding/Python/myGit/chaithanyapythontest

In [24]:
from package.maths import addition
y = addition(20, 4)
print(y)

24

In [8]:
import os
print(os.mkfifo('testpipe'))

None

In [10]:
import shutil
shutil.copyfile('package/Source.txt', 'package/Destination.txt')

'package/Destination.txt'

In [11]:
import json
data = {'name': 'John', 'age': 30, 'city': 'New York'}
json_string = json.dumps(data)
print(json_string)  
print(type(json_string))
data_dict = json.loads(json_string)
print(data_dict)
print(type(data_dict))

{"name": "John", "age": 30, "city": "New York"}
<class 'str'>
{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [5]:
from package.maths import *
y = div2(20, 4)
print(y)

5.0

In [12]:
from package.maths import *
y = div2(30, 5)
print(y)

6.0

In [13]:
import csv
with open('example.csv', mode='w', newline='') as file:
   writer = csv.writer(file)
   writer.writerow(['Name', 'Age', 'City'])
   writer.writerow(['Alice', 30, 'New York'])
   writer.writerow(['Bob', 25, 'Los Angeles'])

with open('example.csv', mode='r') as file:
   reader = csv.reader(file)
   for row in reader:
       print(row)

['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']

In [16]:
with open('example.csv', mode='a') as file:
    file.write('\nCharlie,35,Chicago\n')

with open('example.csv', mode='r') as file:
   reader = csv.reader(file)
   for row in reader:
       print(row)

['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']
['Charlie', '35', 'Chicago']
[]
['Charlie', '35', 'Chicago']